*{
  margin: 0;
  border: 0;
  padding: 0;
  font-family:lato, sans-serif;
  }
  
  .heading{
    display: flex;
    background-color: #00aeff;
  }

  .logo{
    color: #fff;
    width: 10rem;
    height: 10rem;
    font-weight: 900;
  }

  .nav-ul{
    display: inline;
    padding:1.5px;
  }

  .navbar-icon{
    width: 2rem;
    height: 2rem;
  }

  .navlist{
   
  }