*{
  margin: 0;
  border: 0;
  padding: 0;
  font-family:lato, sans-serif;
  }

  .heading{
    display: grid;
    max-width: 100%;
    background-color: #00aeff;
  }

  .logo{
    padding-left: 60px;
    color: #fff;
    font-weight: 100;
  }

  .navlist{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
    
  .navbar-icon{
    width: 2rem;
    height: 2rem;
  } 

   .btn{
    padding: 0.1rem;
    background-color: darkblue;
    color: #fff;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
  }  

    .contact-image{
    color: #fff;
    border-radius: 35px;
    height: 2.6rem;
    width: 2.6rem;
    margin-left: 90px
  } 

    .text{
    font-size: 10px;
    line-height: 12px;
    color: #00aeff;
  }

   .icon1{
    padding-left: 201px;
   }
    .icon2{
      margin-right: 42px
    }

   .icon3{
  /* padding-left: 201px; */
   }

   .fas{
     color: #fff;
   }

  .acct{
    color: #fff;
    margin-right: 42px
  }
 
.icon-whatsapp{
  padding-left: 201px;
} 

.icon1{
  border-left: 1px solid;
  min-height: 40x;
  border-color: #fff;
}
.icon2{
  border-right: 1px solid;
  min-height: 40x;
  border-color: #fff;
}
 
/* .humpic{
  max-width: 100%;
} */
.firstsection{
  background-image: url(./asset/images/hotels-homepage1\ image.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}
.find-search-nija-hotels{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 15rem;
  color: #fff;
  background: rgba(51, 51, 5,);
}

.subsection{
  /* width: 70%; */
  /* position: sticky;
  top: 0; */
}

form{
  display: grid;
  grid-gap:1rem;
  grid-template-columns:3fr repeat(1,2fr) 1fr;
  background: #fff;
  padding: 30px 40px 30px 40px;
  /* position: relative;
  bottom: 3rem; */
  /* top: -40px; */
  /* left: 12rem; */
  box-shadow: 1px +6px +25px #888888;
  width: 70%;
  margin: -40px auto 0 auto;
  z-index: 10;
  /* position: sticky;
  top: 0px; */
}

.block{
  border: 1px solid;
  padding: 20px 20px 20px 40px;
  border-radius: 5px;
}

.date{
  border: 1px solid;
  padding: 20px 20px 20px 40px;
  border-radius: 5px;
}
  
.hotels{
  padding: 8px 12px;
  color: #fff;
  background: #00aeff;
  border-radius: 5px;
} 

.secondsection{
  margin-left: 174px;
}

.section2header{
  font-size: 24px;
  color: #4f4f4f;
  font-weight: 700;
  margin-top: 2px;
  margin-right: 243px;
  margin-bottom: 5px;
  text-align: center;
}

.section2sub-header{
  font-size: 18px;
  font-weight: 500;
  color: #4f4f4f;
  margin-right: 243px;
  text-align: center;
}

.skyblue-tinyline{
  margin: 1.5rem auto;
  width: 3rem;
  margin-right: 795px;
  border-top: 3px solid #00aeff;
}

.city-container{
  display: grid;
  grid-gap:2rem;
  margin-right: 227px;
  grid-template-columns: repeat(6, 1fr);
}

.most-cities-quest-visit{
  margin-top: 20px;
  border: 2px solid #00aeff;
  border-radius: 4px;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 85px;
}

.hotel-deals{
  margin-top: 2px;
}

.image-of-hotel-rooms{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 227px;
  margin-bottom: 60px;
}

.border{
  border: 1px solid gray;
  border-top: 0px;
  border-radius: 5px;
  width: min-content;
} 

.hotelname{
  color: #00aeff;
  padding-left: 10px;
  margin: 3px;
}

.state-hotel{
  font-size: 11px;
  padding-left: 10px;
  margin: 5px;
}

.sub-sub-section2{
  margin-top: 4rem;
}
 .hotel-in-9ja-cities{
    display: grid;
    grid-gap:1rem;
    margin-right: 227px;
    grid-template-columns: repeat(3, 1fr); 
}

.state,
.numbas-of-hotels{
  text-align: center;
  /* color: #fff; */
  position: relative;
  top:30%;
}

.numbers-of-hotels-in-a-state{
  display: grid;
  grid-gap:25px;
  margin-right: 227px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 4rem;
}

.statename-style{
  font-size: 1.2rem;
  font-weight: 600;
  color: #00aeff;
}

.styes{
  font-size: 12px;
  text-align: left;
  color: #4f4f4f;
}

.thirdsection{
  padding-top: 0.01rem;
  background-color: #fafafa;
  
}

.thirdsection-header{
  font-size: 24px;
  color: #4f4f4f;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: center;
}

.thirdsection-text{
  text-align:center;
  margin-bottom: 3rem;
  font-size: 16px;
}

.secret-hotel{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sub-thirdsection{
  background-color: #fff;
}

.email{
  flex-direction: column;
  border: 1px solid rgb(228, 216, 216);
  background-color: #fff;
  padding: 0.7rem;
  width: 28rem;
  margin-right: 10px;
  border-radius: 4px;
  margin-bottom: 3rem;
}

.subscribebtn{
 color: #fff;
 background-color: #00aeff;
 font-size: 14px;
 max-width: 120px;
 border-radius: 4px;
 padding: 0.7rem;
 margin-bottom: 3rem;
}

.thirdsection-header{
  margin-top: 6rem;
}

.skyblue-line{
  margin: 1.5rem auto;
  width: 3rem;
  margin-left: 650px;
  border-top: 3px solid #00aeff;
}

.ullogo{
  display: flex;
  margin-left: 15rem;
}

.thirdsectionli{
  display: inline;
  padding: 4rem;  
}

.get-bookings-4-ur-hotel{
text-align: center;
}

.add-ur-hotel-btn{
  color: #fff;
  background: #00aeff;
  padding: 0.7rem;
  border-radius: 4px;
  width: 12rem;
  text-align: center;
  margin-top: 3px; 
}

.get-app-container{
  background-color: #EFF8FB;
  background-size: cover;
  display: flex;
  min-height: 500px;
  padding:5rem;
  margin-top: 4rem;
}

.phone-app-img{
  margin-left: 10rem;
}

.get-d-app{
  color: #2196f3;
  font-size: 60px;
}

.hotel-logo-h3{
  font-size: 35px;
}

.android-app-bookings{
  font-size: 18px;
  margin: 1% 0 5%;
}

.hotels-app{
  padding: 10% 5% 10% 10%;
}

.unlock{
  background-color: #084482;
  padding: 2rem;
  width: 96.1%;
  bottom: 11.5rem;
  position: relative; 

}

.unlock-hotel-deals{
  display: flex;
  margin-left: 14rem;
}

.lock-symbol{
  fill: #00aeff;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 35px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.email-unlock-deals{
  margin: -0 0 5px;
  font-size: 18px;
  color: #fff;

}

.secret-offer{
  font-size: 14px;
  color: #00AEFF;
  margin-right: 14rem
}

.formm{
  margin-right: 4rem;
}

.email2{
  width: 23rem;
  padding: 0.7rem;
  background-color: #fff;
  border-radius: 4px;
  border-radius: 4px;
  margin-left: -3rem;
  margin-right: -1rem;
}

.unlock-btn{
  border-radius: 4px;
  width: 10rem;
  padding: 0.7rem;
  background-color: #00aeff;
  color: #fff;
}

.footer{
  display: grid;
  font-size: 14px;
  grid-gap:0.3rem;
  color: #00aeff;
  margin-right: 263px;
  margin-left: 263px;
  grid-template-columns: repeat(5, 1fr);
}

.header{
  color: #afa7ad;
  border-bottom: 1px solid #e2e6e9;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

.second-footer{
  display: flex;
  border-top: 1px solid #e2e6e9;
  padding: 20px 0;
  margin-right: 263px;
  margin-left: 263px;
}

.fab{
  margin-left: 10px;
  display: inline-block;
  color: #657279;
  margin: 0px 0px 0px 10px;
  padding: 20px 0;
}

.copyright{
  font-size: 14px;
  display: inline-block;
  margin-top: 15px;
  padding-bottom: 15px;
  padding-right: 1rem;
  color: #657279;
}

.certified{
  font-size: 14px;
  margin-left: 15rem;   
  padding: 20px 0;
  color: #657279;
}

.nata-logo{
  height: 5rem;
  width: 5rem;
  padding-block-end: 2rem;
}

.ntdc-logo{
  height: 2.5rem;
  width: 5rem;
  padding-block-end: 3.3rem;
    margin-left: -46px;
}


